{
  "root": true,
  "env": {
      "commonjs":true
  },
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,       // Means warning
    "prettier/prettier": 2 // Means error
  }
}
